<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Персональные данные</title>
</head>
<body>
    <h2>Персональные данные</h2>
    <p>
        Id:                         @ViewBag.Id<br />
        Имя:                        @ViewBag.Name<br />
        Возраст:                    @ViewBag.Age<br />
        Пол:                        @ViewBag.gender<br />
        Дополнительная информация:  @ViewBag.Info<br />
        Согласие:                   @ViewBag.Agree <br />
</body>
</html>